<% title = "Login" %>
<div class="row">
  <div class="small-5 small-centered columns panel login">
    <%= form_tag "" do %>
      <div class="row">
        <div class="large-12 columns"><h4>Login</h4></div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>e-mail</label>
          <input type="text" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Passwort</label>
          <input type="password" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <input type="submit" value="login" class="button small" />
        </div>
      </div>
    <% end %>
  </div>
</div>