<% title "Short Story bearbeiten" %>
<div class="row">
  <div class="small-12 columns">
    <h4>Short Story bearbeiten</h4>
  </div>
</div>
<div class="row snippets short_stories">
  <div class="small-12 columns">
    <div class="panel">
      <%= render "form_short_stories" %>
    </div>
  </div>
</div>