<% title "Sch端ler bearbeiten" %>
<div class="row">
  <div class="small-12 columns">
    <%= link_to users_path, class: "button small" do %><i class="fi-arrow-left"></i> zur端ck zu allen Sch端lern<% end %>
    <h4>Sch端ler bearbeiten</h4>
  </div>
</div>
<%= render "form" %>