<% title "Konto aktivieren" %>
<div class="row">
  <div class="small-12 columns">
    <h4>Passwort vergessen</h4>
    <p>Hier hast du die Möglichkeit dein Passwort zurückzusetzen, falls du es mal vergessen haben solltest. Nach Eingabe deiner e-mail-Adresse erhältst du eine e-mail mit weiteren Instruktionen.</p>
    <div class="row">
      <div class="small-form-panel">
        <%= form_for User.new, :url => reset_password_path do |f| %>
          <div class="row">
            <div class="large-12 columns">
              <label>e-mail</label>
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns text-center">
              <%= submit_tag "zurücksetzen", class: [:button, :small] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>