<div class="my-song song-preview" data-audio-path="<%= @song.file.url %>">
  <div class="row">
    <div class="large-12 columns">
      <h5>Dein Song</h5>
    </div>
  </div>
  <div class="row">
    <div class="small-2 large-1 columns">
      <%= render "preview_btn" %>
    </div>
    <div class="small-10 large-11 columns">
      <%= @song.artist %><% if @song.artist.present? && @song.title.present? %> - <% end %><%= @song.title %>
    </div>
  </div>
</div>