<div class="row">
  <div class="small-12 columns">
    <h3>Aktionen</h3>
    <div class="large-6 columns end">
      <div class="panel">
        <h4><%= link_to "Dein Steckbrief", edit_profile_path %></h4>
        Hier kannst du deinen Steckbrief bearbeiten.
      </div>
    </div>
    <div class="large-6 columns end">
      <div class="panel">
        <h4>Test</h4>
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns end">
      <div class="panel">
        <h4><%= link_to "Dein Konto", edit_own_path %></h4>
        Hier kannst du dein Passwort und deine e-mail-Adresse 채ndern.
      </div>
    </div>
  </div>
</div>
<% if @_user.admin? %>
  <div class="row">
    <hr class="small-12 columns" />
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h3>Redaktion</h3>
      <div class="large-6 columns end">
        <div class="panel">
          <h4><%= link_to "Sch체ler", users_path %></h4>
          Hier kannst du alle Sch체ler verwalten.
        </div>
      </div>
      <div class="large-6 columns end">
        <div class="panel">
          <h4><%= link_to "Steckbriefe", profiles_path %></h4>
          Hier kannst du die Steckbriefe aller Sch체ler einsehen.
        </div>
      </div>
    </div>
  </div>
<% end %>