<div class="row">
  <div class="large-6 columns end">
    <div class="panel">
      <h4>Test</h4>
      Lorem ipsum
    </div>
  </div>
  <div class="large-6 columns end">
    <div class="panel">
      <h4>Test</h4>
      Lorem ipsum
    </div>
  </div>
  <div class="large-6 columns end">
    <div class="panel">
      <h4>Test</h4>
      Lorem ipsum
    </div>
  </div>
</div>