<li>
  <%= image_tag photo.image.url(:thumb), class: "th radius" %>
  <div class="action-btns"><%= render "delete_btn", path: photo_path(photo), confirm: "dieses Foto" if !(no_delete ||= false) %> <%= link_to "", photo.image.url(:original), class: "fi-download", title: "Foto herunterladen" %></div>
</li>