<script id="template-upload" type="text/x-tmpl">
  <div class="row">
    <div class="small-4 columns">
      <b>{%=o.name%}</b>
      <p class="error"></p>
    </div>
    <div class="small-8 columns">
      <div class="progress radius">
        <div class="meter"></div>
      </div>
    </div>
  </div>
</script>