/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 */

@import "mixins";

header {
  box-shadow: 0px 1px 5px black;
  margin-bottom: 15px;

  nav {
    .title-area a {
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px 3px black;
      
      &:hover {
        text-shadow: 1px 1px 6px black;
      }
    }
  }
}

a {
  color: $light-color;
  
  &:hover {
    color: $dark-color;
  }
}

table {
  width: 100%;
}

.login.small-form-panel {
  margin-top: 60px;
}

ul.alert-box {
  list-style-type: none;
}

html {
  #unsupportedBrowser {
    display: none;
  }
  
  &.unsupportedBrowser {
    body {
      width: 100%;
    }
    
    #unsupportedBrowser {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 2000px;
      background: black;
      z-index: 99;
      
      div {
        width: 70%;
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 100px auto;
        
        p {
          padding: 20px;
        }
        
        ul {
          margin-top: 50px;
          list-style-type: none;
          
          li {
            padding: 10px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

.text-rules {
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
  
  a {
    color: red;
    
    i {
      font-size: 15px;
    }
  }
  
  #drop-text-rules {
    text-align: left;
    
    &, * {
      font-size: 15px;
    }
    
    ul {
      padding: 10px 20px;
    }
  }
}

.author {
  font-size: 14px;
  margin-bottom: 5px;
}

textarea {
  height: 80px;
  
  &.large {
    height: 170px;
  }
}

p.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}

.row.entry {
  &:nth-child(even) {
    background: #f9f9f9;
  }
  
  .columns {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.index {
  .panel {
    height: 120px;
  }
}

.photos {
  ul li {
    position: relative;
  }
  
  .action-btns {
    position: absolute;
    bottom: 15%;
    right: 10%;
    background: rgba(0, 0, 0, .7);
    padding: 0px 5px;
    border-radius: 5px;
    
    a {
      color: white !important;
      
      &:hover {
        color: darken(white, 20%) !important;
      }
    }
  }
}

.snippets {
  input {
    margin-bottom: 0px !important;
  }
  
  .chars {
    color: #4d4d4d;
    font-size: 13px;
    padding-right: 20px;
  }
}

.polls {
  label {
    color: white;
  }
}

.orders {
  table tr {
    &.total td {
      font-weight: bold;
      border-top: 1px solid lighten(black, 80%);
    }
    
    td {
      width: 50%;
    }
  }
}

@include keyframes(others-color) {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}

@include keyframes(others-shadow) {
  0% {
    text-shadow: 0px 0px 10px red;
  }
  100% {
    text-shadow: 0px 0px 10px blue;
  }
}

.songs .others {
  @include vendor-specific(animation, (others-color .2s alternate infinite, others-shadow .6s alternate infinite));
}