/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 */

@import "_mixins";

header {
  @include main-gradient;
  box-shadow: 0px 1px 5px black;
  border-bottom: 1px solid $dark-color;
  min-width: 100%;
  margin-bottom: 25px !important;
  font-size: 13px;
  
  .columns {
    padding: 10px;
    
    &.title {
      font-size: 18px;
      font-weight: bold;
      text-shadow: 1px 1px 5px black;
      
      a:hover {
        color: white;
      }
    }
  }
  
  * {
    color: white !important;
  }
  
  a:hover {
    color: #cccccc !important;
  }
  
  :not(.title) {
    padding-top: 12px;
  }
}

a {
  color: $light-color;
  
  &:hover {
    color: $dark-color;
  }
}

table {
  width: 100%;
}

.login.small-form-panel {
  margin-top: 60px;
}

ul.alert-box {
  list-style-type: none;
}

html {
  #unsupportedBrowser {
    display: none;
  }
  
  &.unsupportedBrowser {
    body {
      width: 100%;
    }
    
    #unsupportedBrowser {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 2000px;
      background: black;
      z-index: 99;
      
      div {
        width: 70%;
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 100px auto;
        
        p {
          padding: 20px;
        }
        
        ul {
          margin-top: 50px;
          list-style-type: none;
          
          li {
            padding: 10px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

.text-rules {
  text-align: right;
  margin-bottom: 20px;
  
  a {
    color: red;
    
    i {
      font-size: 20px;
    }
  }
  
  #drop-text-rules {
    text-align: left;
    
    &, * {
      font-size: 15px;
    }
    
    ul {
      padding: 10px 20px;
    }
  }
}

textarea {
  height: 80px;
  
  &.large {
    height: 170px;
  }
}

.index {
  .panel {
    height: 120px;
  }
}

.photos {
  ul li {
    position: relative;
  }
  
  .delete-btn {
    position: absolute;
    top: 10px;
    right: 10%;
    background: rgba(0, 0, 0, .7);
    padding: 0px 5px;
    border-radius: 5px;
  }
}

.snippets {
  input {
    margin-bottom: 0px !important;
  }
  
  .row.entry {
    &:nth-child(odd) {
      background: #D9F4FF;
    }
    &:nth-child(even) {
      background: #A7D8FA;
    }
    
    .columns {
      font-size: 14px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.polls {
  label {
    color: white;
  }
}