<div class="text-rules">
  <a href="#" data-dropdown="drop-text-rules" data-options="is_hover:true"><i class="fi-arrow-right"></i> Bitte beachte unsere Vorgaben für Texte</a>
  <div id="drop-text-rules" class="f-dropdown small content" data-dropdown-content>
    Um uns die Arbeit zu erleichtern, achte bei deinen Texten bitte auf Folgendes:
    <ul>
      <li>Korrekte Rechtschreibung</li>
      <li>Korrekte Zeichensetzung</li>
      <li>Keine Smilies oder ähnliches</li>
    </ul>
    Danke!
  </div>
</div>